/* Estilos para AlgorithmForm */
.algorithm-form {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5%;
    border-color: #a3c1dd;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: auto;
    height:fit-content;
    margin-right: 0px; 
    margin-left: 30px;
    flex-shrink: 0;
    margin-top: 10px;
}

header {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 150px;
}

.app-container {
    background-color: #f1f2f2b0;
    height: 750px;
    width: auto;
    padding: 50px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .nav-list a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    transition: color 0.3s ease;
  }
  
  .nav-list a:hover {
    color: #000;
  }

.algorithm-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.algorithm-form select,
.algorithm-form input {
    width: 100%;
    padding: 7px;
    margin-bottom: 12px;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
}

.algorithm-form button {
    background-color: #a3c1dd;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.algorithm-form button:hover {
    background-color: #7896b8;
}

.custom-button {
    background-color: #e6eaee; /* Color de fondo del botón */
    color: rgb(32, 31, 31);
    border-radius: 20px;
    padding: 10px 15px; 
    border: none; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s, box-shadow 0.2s;
}

.custom-button:hover {
    background-color: #d9e3ea; /* Color de fondo al pasar el mouse */
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); 
}

.custom-button:active {
    transform: translateY(0); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

